node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.turbo
dist
build
*.log
logs
.DS_Store
.vscode
.idea
*.swp
*.swo
.next
out 